@tailwind base;
@tailwind components;
@tailwind utilities;

.talk {
  background: linear-gradient(90deg, #ff6d20 40%, #ffad82 50%, #ff6d20 60%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200%;
  animation: slide 3s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}
